p {

}
h1 {
    font-size: 250%
}

h2 {
    font-size: 200%
}
body {
    background-color: darkcyan;
    color: white;
    font-size: 14pt;
    font-family: 'Karma', serif;
    font
}


